<dds-dotcom-shell-container [l1Data]="l1Data" [selectedMenuItem]="router.url">
  <main>
    <div class="bx--grid">
      <div class="bx--row">
        <div class="bx--col" style="margin: 6rem 0;">
          <dds-leadspace-block>
            <dds-leadspace-block-heading>Carbon for IBM.com</dds-leadspace-block-heading>
          </dds-leadspace-block>
        </div> <!-- col -->
      </div> <!-- row -->
      <div class="bx--row">
        <div class="bx--col">
          <dds-content-group-simple>
            <dds-content-group-heading>About it</dds-content-group-heading>
            <dds-content-item>
              <dds-content-item-heading>Carbon for IBM.com is built with Carbon at its foundation, with additional components and styling optimized for a more editorial approach that allows users to scan, read, and navigate multiple pages with comfort and ease. Our goals are to provide visual consistency and the highest quality for all IBM.com website pages.</dds-content-item-heading>
            </dds-content-item>
          </dds-content-group-simple>          
        </div> <!-- col -->
      </div> <!-- row -->
      <div class="bx--row">
        <div class="bx--col">
          <dds-content-group-simple>
            <dds-content-group-heading>Frameworks</dds-content-group-heading>
            <dds-content-item>
              <dds-content-item-heading>React and Web Components only</dds-content-item-heading>
            </dds-content-item>
          </dds-content-group-simple>          
        </div> <!-- col -->
      </div> <!-- row -->
      <div class="bx--row">
        <div class="bx--col">
          <dds-content-group-simple>
            <dds-content-group-heading>Angular</dds-content-group-heading>
            <dds-content-item>
              <dds-content-item-heading>Angular is a framework and platform that is written in TypeScript.  It is used for developing single page applications employing TypeScript and HTML template language.</dds-content-item-heading>
            </dds-content-item>
          </dds-content-group-simple>          
        </div> <!-- col -->
      </div> <!-- row -->
      <div class="bx--row">
        <div class="bx--col">
          <dds-content-group-simple>
            <dds-content-group-heading>DSWDown Approach</dds-content-group-heading>
            <dds-content-item>
              <dds-content-item-heading>The idea is to use Angular as the Javascript framework and use Carbon for IBM.com Web Components.</dds-content-item-heading>
            </dds-content-item>
          </dds-content-group-simple>          
        </div> <!-- col -->
      </div> <!-- row -->
    </div>
  </main>
</dds-dotcom-shell-container>